#profile {
  width: 100%;
  padding-top: 10px;
}

.inline {
  display: inline;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
}
.page-banner {
  padding: 0;
  margin: 0;
}
.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.page-title {
  font-weight: 900;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-bottom: 2%;
}

#contact {
  width: 95%;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h6 {
  color: #91abc6;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #91abc6;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  opacity: 50%;
}

#submit-button {
  width: 120px;
}

table {
  margin: 1em;
  padding: 2em;
  width: 100%;
}

td {
  padding: 1em;
}

tr {
  border-bottom: solid;
  border-bottom-color: #a0d9d9;
  border-bottom-width: 2px;
}

@media (max-width: 850px) {
  .container-fluid {
    margin: 0;
  }
  #content {
    margin: 0;
    padding: 0;
  }
  .page-title {
    font-family: "Montserrat", sans-serif;
    padding-left: 0;
    text-align: center;
    background: #a0d9d9;
    margin-bottom: 0;
  }
  h1 {
    background: #a0d9d9;
  }
}
