body {
  font-family: "Raleway", sans-serif;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.basecolor {
  color: #808d2a;
}

/* DIY Composting Page */
#banner {
  width: 100%;
  background-image: url(assets/diy_banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

.video {
  width: 450px;
}

#classes {
  width: 100%;
  background-image: url(assets/classes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

#phipps {
  width: 100%;
  background-image: url(assets/phipps.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

#otherResults {
  width: 100%;
  background: rgba(110, 125, 12, .1);
  background-position: center;
}

#FAQs {
  width: 100%;
  background-image: url(assets/skyline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

/* MOBILE */
.mobileHide {
  display: inline;
}

.mobileShow {
  display: none;
}

@media only screen and (max-width: 600px) {
  #banner {
    width: 100%;
    background-image: url(assets/diy_banner_s.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
  }
  #classes {
    width: 100%;
    background-image: url(assets/classes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
  }
  #phipps {
    width: 100%;
    background-image: url(assets/phipps.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
  }

  .mobileHide {
    display: none;
  }
  .mobileShow {
    display: inline;
  }
}


.btn-group-vertical {
  width: 80%;
}

/*This the styling for the quiz text */
.question-txt{
  font-weight: 700;
  color: #6E7D0C;
  margin-top: 50px;
  font-size: 28.0374px;
}

/*This the styling for the quiz answers */
.question_button{
  background-color: #FFFFFF; /* White background */
  border: 2.6285px solid #6E7D0C; /* Green border */
  color: black; /* Black text */
  border-radius: 28.0374px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; 
  margin-top: 20px;
}


.btn-group-verticalbutton:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.question_button:hover {
  background-color: #E4ECD8;
}

/*that one next button in the quiz*/
#smallerbutton{
  text-align: center;
  width: 30%;
}
