body {
  font-family: "Raleway", sans-serif;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.basecolor {
  color: #808d2a;
}

/* DIY Composting Page */
#banner {
  width: 100%;
  background-image: url(assets/diy_banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

.video {
  width: 100%;
  max-width: 800px;
}

#classes {
  width: 100%;
  background-image: url(assets/classes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

#phipps {
  width: 100%;
  background-image: url(assets/phipps.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

#otherResults {
  width: 100%;
  background: rgba(110, 125, 12, .1);
  background-position: center;
}

#otherResults .card {
  border-radius: 20%;
}

#otherResults h3 {
  position: absolute;
  bottom: 65px;
}

#otherResults p {
  position: absolute;
  bottom: 15px;
}

#otherResultsCard {
  max-width: 30rem;
  /* max-height: 10rem; */
  border-radius: 20%;

}

#FAQs {
  width: 100%;
  background-image: url(assets/skyline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
}

#FAQButton {
  width: 100%;
  max-width: 300px;
}

/* MOBILE */
.mobileHide {
  display: inline;
}

.mobileShow {
  display: none;
}

/* For the side scrolling - mobile only */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  }
  .scrollcard {
    flex: 0 0 auto;
  }

@media only screen and (max-width: 600px) {
  #banner {
    width: 100%;
    background-image: url(assets/diy_banner_s.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
  }
  #classes {
    width: 100%;
    background-image: url(assets/classes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
  }
  #phipps {
    width: 100%;
    background-image: url(assets/phipps.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
  }

  .mobileHide {
    display: none;
  }
  .mobileShow {
    display: inline;
  }
}

.btn-group-vertical {
  width: 80%;
}

/*This the styling for the quiz text */
.question-txt{
  font-weight: 700;
  color: #6E7D0C;
  margin-top: 50px;
  font-size: 28.0374px;
}

/*This the styling for the quiz answers */
.question_button{
  background-color: #FFFFFF; /* White background */
  border: 2.6285px solid #6E7D0C; /* Green border */
  color: black; /* Black text */
  border-radius: 28.0374px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; 
  margin-top: 20px;
}


.btn-group-verticalbutton:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.question_button:hover {
  background-color: #E4ECD8;
}

/*that one next button in the quiz*/
#smallerbutton{
  text-align: center;
  width: 30%;
}

/*The Home/Landing Page Styling */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
/*The heros on the index page */
.hero-1 {
  background-color: rgba(231, 249, 233, 1);
}
.display-5 {
  color: rgba(110, 125, 12, 1);
}
.subtext {
  color: rgba(110, 125, 12, 1);
}
.button{
  font-weight: bold;
}
/*Taking away the underline of the FAQ button */
.faqlink{
  text-decoration: none;
}
