body {
  font-family: "Raleway", sans-serif;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

.btn-group-vertical {
  width: 80%;
}

.question-txt{
  font-weight: 700;
  color: #6E7D0C;
  margin-top: 20px;
  font-size: 28.0374px;
}

.btn-group-vertical button {
  background-color: #FFFFFF; /* White background */
  border: 2.6285px solid #6E7D0C; /* Green border */
  color: black; /* Black text */
  border-radius: 28.0374px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  margin-top: 20px;
}

.btn-group-verticalbutton:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-vertical button:hover {
  background-color: #E4ECD8;
}

